<h1>Lists of all Groups</h1>
<% @groups.each do |group| %>
    <ul>
        <li><%= group.name %></li>
        <%= link_to "View Messages", group_path(group) , method: :get %>
    </ul>
<% end %>
<%= link_to "Create New Group", new_group_path , method: :get %>

<h2>Available Users</h2>
<% @users.each do |user| %>
    <%= link_to user_path(user), method: :get do %>
     <%= user.email %> 
    <% end %>
<% end %>

<h3>Online Users</h3>
<div id="online-users">
</div>

<%= button_to "Log out", destroy_user_session_path, method: :delete %>
