<h1><%= @group.name %></h1>
<div id ="chat-interface">
    <%= @group.messages %>
</div>

<%= render "messages/form", message: Message.new, group: @group %>

<%= link_to "Edit Group", edit_group_path(@group), method: :get %>
<%= link_to "Destroy Group",group_path(@group), method: :delete %>
<%= link_to "Back to groups list",groups_path, method: :get %>